[submodule "vendor/ProgramOptions.hxx"]
	path = vendor/ProgramOptions.hxx
	url = https://github.com/Fytch/ProgramOptions.hxx
[submodule "vendor/rang"]
	path = vendor/rang
	url = https://github.com/agauniyal/rang
[submodule "vendor/maddy"]
	path = vendor/maddy
	url = https://github.com/progsource/maddy.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
